{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Recipes</h1>
    {% for recipe in recipes %}
    <p>{{ recipe.title }}
        <ul>
            {% for ingredient in recipe.ingredients.all %}
            {% if not ingredient.in_stock %}
            <li>{{ ingredient.name }}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </p>
    {% endfor %}
    </ul>
</main>

{% endblock content %}
