{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Groceries</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Source</th>
                <th>Recipe</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.category.name }}</td>
                <td>{{ item.source.name }}</td>
                <td>--</td>
            </tr>
            {% endfor %}
            {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.name }}</td>
                <td>--</td>
                <td>{{ ingredient.source.name }}</td>
                <td>{{ ingredient.recipes.all }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
