{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Shopping List</h1>
    <ul>
        {% for item in items %}
            <li>{{ item.name }}</li>
        {% endfor %}
        {% for ingredient in ingredients %}
            <li>{{ ingredient.name }}</li>
        {% endfor %}
        </ul>
</main>
{% endblock content %}
