{% extends 'base.html' %}

{% block content %}
<main>
    <h1>{{ source.name }}</h1>
    <ul>
        {% for item in source.items.all %}
        <li>{{ item.name }}</li>
        {% endfor %}
        {% for ingredient in source.ingredients.all %}
        <li>{{ ingredient.name }}</li>
        {% endfor %}
    </ul>
</main>
{% endblock content %}
